@import "tailwindcss";

@theme {
  --font-mono: "Courier New", Courier, monospace;
  --color-terminal-green: #00ff41;
  --color-terminal-bg: #0d0d0d;
  --color-terminal-surface: #1a1a1a;
  --color-terminal-border: #00ff4133;
}

body {
  background-color: #0d0d0d;
  color: #e0e0e0;
  font-family: "Courier New", Courier, monospace;
}
